// $main-color: rgb(254, 66, 54);
// $main-color-dark: rgb(212, 49, 37);
// $secondary-color: #123ac8;
// $secondary-color-dark: #1435aa;
// $secondary-color-transparent: #2b4eccb6;
// $white: #f7f3ee;
// $transparent-white: #f7f3ee8c;

$main-color: #0fa968;
$main-color-dark: #126945;
$secondary-color: #0d647d;
$secondary-color-dark: #105269;
$secondary-color-transparent: #0d657d8e;
$white: #f7f3ee;
$transparent-white: #f7f3ee8c;
