@import "../../app/globals.scss";

$floatingContent-width: 550px;
$margin-top-box: 195px;
$box-height: 150px;
$left-width: 35%;
.outerContainer {
  width: 100%;
  height: calc(100vh - $navbar-height /* la altura de la navbar*/);
  display: flex;
  justify-content: center;
  background-color: $white;
}
.outerContainer .floatingContent,
.outerContainer .background {
  height: 100%;
  width: 100%;
  display: inherit;
  justify-content: inherit;
}
.outerContainer .background {
  .right,
  .left {
    display: none;
  }
}
.contentContainer {
  width: 82%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: $secondary-color;
}
.lineContainer {
  position: absolute;
  top: 15%;
  right: 0;
}
.box {
  height: $box-height;
  width: 100%;
  margin-top: $margin-top-box;
  border: 1px solid $secondary-color;
  hr {
    margin: 0;
    border: 1px solid $secondary-color-transparent;
  }
  .header {
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  .rent {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .buy {
    display: flex;
    align-items: center;
    height: 50px;
  }
  .titleContainer {
    width: 42%;
    h3 {
      font-size: 17px;
      margin: 7px 0 5px 9px;
      text-transform: uppercase;
    }
  }
  .hrContainer {
    width: 50%;
    margin-bottom: 10px;
  }
  input {
    margin: 0 12px 0 20px;
    &:checked + label {
      font-weight: 500;
    }
  }
}
.searchContainer {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 12px;
  input {
    width: 100%;
    height: 49px;
    display: flex;
    align-items: center;
    padding-left: 45px;
    color: $secondary-color;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid $secondary-color;
    &:focus {
      border-width: 2px;
      outline: none;
    }
    &::-webkit-search-cancel-button {
      position: absolute;
      right: 20px;
      padding: 1.5px;
    }
  }
  label {
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    font-size: 12px;
    text-transform: uppercase;
    margin-left: 10px;
  }
}
.buttonContainer {
  position: absolute;
  top: calc($margin-top-box + $box-height + 12%);
  right: 0;
  button {
    width: 160px;
    height: 45px;
    color: $secondary-color;
    border-radius: 25px;
    border: 1px solid $secondary-color;
    transition: all 0.5s ease-in-out;
    &:hover {
      color: $white;
      background-color: $secondary-color;
      transform: scale(1.1);
    }
  }
}

@media (min-width: 800px) {
  .outerContainer .floatingContent {
    height: 410px;
    width: $floatingContent-width;
    align-items: center;
    position: absolute;
    top: 25%;
    left: calc($left-width - $floatingContent-width / 2 + 5%);
    background-color: $white;
    border-radius: 3px;
    box-shadow: -2px 2px 20px -6px rgba(1, 12, 8, 0.295);
    transition: all 0.4s ease;
    &:hover {
      transform: scale(1.02) translateY(-5px);
    }
  }
  .box {
    height: 150px;
    width: 100%;
    margin-top: 30px;
  }
  .buttonContainer {
    top: calc(100% + 15px);
  }
  .contentContainer .lineContainer {
    display: none;
  }
  .outerContainer .background {
    display: flex;
    .left {
      width: $left-width;
      height: 100%;
      display: block;
      img {
        position: absolute;
      }
    }
    .left #line {
      top: 34%;
      left: 11%;
      transform: rotate(140deg);
    }
    .left #search {
      width: 200px;
      top: 30%;
      left: 5%;
    }
    .right {
      width: 65%;
      height: 100%;
      display: block;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        object-fit: cover;
      }
    }
  }
}

@media (max-width: 1380px) {
  .outerContainer .floatingContent {
    left: calc($left-width - $floatingContent-width / 2 + 18%);
  }
  .outerContainer .background {
    .left #line {
      top: 36%;
      left: 17%;
      transform: rotate(140deg);
    }
    .left #search {
      width: 200px;
      top: 32%;
      left: 6%;
    }
  }
}
@media (max-width: 1050px) {
  .outerContainer .floatingContent {
    left: calc($left-width - $floatingContent-width / 2 + 5%);
  }
  .left img {
    display: none;
  }
}
