@import "../../app//globals.scss";

$mainColorContainer-height: 12%;

.outerContainer {
  height: calc(100vh - $navbar-height);
  max-height: calc(100vh - $navbar-height);
  width: 100%;
}
.outerContainer .floatingContent,
.outerContainer .background {
  height: 100%;
  width: inherit;
}
.outerContainer .background {
  .right,
  .left {
    display: none;
  }
}
.mainColorContainer {
  height: $mainColorContainer-height;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $main-color;
  .logoContainer {
    width: 90%;
    h1 {
      color: $white;
      text-align: center;
      text-decoration: underline;
      letter-spacing: 1.5px;
    }
  }
}
.outerDiv {
  height: calc(100% - $mainColorContainer-height);
}
.outerDiv .contentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-color;

  .formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $secondary-color;
    form {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      gap: 15px;
      .inputContainer {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        .eyeContainer {
          display: flex;
          align-items: center;
          position: absolute;
          right: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
      label {
        display: flex;
        align-items: center;
        position: absolute;
        left: 23px;
        font-size: 12.5px;
        text-transform: uppercase;
        color: white;
        img {
          margin-right: 11px;
        }
      }
      input {
        height: 42px;
        width: 100%;
        color: $secondary-color-dark;
        font-size: 14px;
        padding-left: 48px;
        border-radius: 25px;
        border: 1px solid $white;
        background-color: transparent;
        &:focus {
          border-width: 2px;
          outline: none;
        }
      }
    }
  }
  button {
    width: 100%;
    color: $white;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 25px;
    border: 1px solid $white;
    transition: all 0.4s ease-in-out;
    &:hover {
      color: $white;
      background-color: $main-color-dark;
      transform: scale(1.1);
    }
  }
  .dividerContainer {
    width: 80%;
    margin: 10px 0;
    color: $white;
    display: flex;
    hr {
      width: 35%;
      height: 1px;
      background-color: $white;
      border-width: 0;
    }
  }
  #second {
    hr {
      width: 19%;
    }
  }
  .buttonContainer {
    width: 80%;
    button {
      height: 48px;
    }
  }
  .goToLogin {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 14px;
      color: $secondary-color-dark;
    }
    button {
      height: 30px;
    }
  }
}

@media (min-width: 600px) {
  .mainColorContainer .logoContainer {
    margin-top: 40px;
  }

  .outerContainer .floatingContent {
    height: 660px;
    width: $floatingContent-width;
    position: absolute;
    top: 18%;
    left: calc(40% - $floatingContent-width / 2);
    box-shadow: -2px 2px 20px -4px rgba(1, 12, 8, 0.368627451);
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.02) translateY(-5px);
    }
  }

  .outerContainer .background {
    display: flex;

    .left {
      width: 40%;
      height: 100%;
      display: block;
      background-color: $main-color;

      .svgContainer {
        position: absolute;
        width: 15%;
        top: 60%;
        left: 5%;

        img {
          height: 100%;
          width: 100%;
          max-width: 100%;
          max-height: 100%;
          display: block;
          margin: auto;
          object-fit: cover;
        }
      }
    }

    .right {
      width: 60%;
      height: 100%;
      display: block;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        display: block;
        margin: auto;
        object-fit: cover;
      }
    }
  }
}

@media (min-width: 1300px) {
  .outerContainer .background .left .svgContainer {
    width: 20%;
    top: 49%;
    left: 5.5%;
  }
}

@media (max-width: 1100px) {
  .left .svgContainer {
    display: none;
  }
}

@media (max-height: 800px) {
  .outerContainer .floatingContent {
    top: 15%;
  }
}
@media (max-height: 700px) {
  .outerContainer .floatingContent {
    width: 800px;
    height: 350px;
    top: 25%;
    left: calc(30% - $floatingContent-width / 2);
    display: flex;
  }
  .outerDiv {
    height: 100%;
    width: 50%;
  }
  div .mainColorContainer {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    .logoContainer {
      margin: 0;
    }
  }
  .contentContainer {
    height: 100%;
    width: 100%;
  }
  .outerDiv .contentContainer .formContainer form {
    margin-top: 6rem;
  }
  .outerDiv .contentContainer .buttonContainer {
    right: 5%;
  }
}
