@import "../../app/globals.scss";

.outerContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.redBg {
  height: calc(100vh - 126px);
  position: relative;
  background-color: $main-color;
  .logoContainer {
    position: absolute;
    top: 370px;
    left: 32.18px;
  }
  .vectorContainer {
    position: absolute;
    bottom: 20px;
    left: 60px;
    .slogan {
      position: absolute;
      top: 26px;
      left: 33px;
      margin: 0;
      padding: 0;
      font-weight: 500;
      font-size: 17px;
      color: $white;
    }
  }
}

.arrowsContainer {
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img {
    transition: all 0.4s;
    &:hover {
      transform: scale(1.2);
    }
  }
}
