@import "../../app/globals.scss";

.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentContainer {
  width: 88%;
}
div.appointments {
  width: 100%;
  margin-top: 10px;
}
