@import "../../app/globals.scss";

.outerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outerContainer .arrowBackContainer {
  position: absolute;
  left: 6%;
}

.contentContainer {
  width: 88%;
  max-width: $content-max-width;
}
.contentContainer header {
  width: 100%;
  margin-top: 55px;
}
div.appointments {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  gap: 1rem;
}
