@import "../../app//globals.scss";

.imagesContainer {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid $main-color;
  svg {
    padding: 5px;
  }
}
